.chatgpt-refine-dropdown {
  position: relative;
  display: inline-block;
  margin-top:5px;
}

.chatgpt-refine-dropdown ul {
	display:none; 
	list-style: none;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.chatgpt-refine-dropdown ul li{
    cursor: pointer;
    padding: 5px 10px;	
	margin-bottom: 0px;
}

.chatgpt-refine-dropdown ul li:hover {
	background-color: #f0f0f0;
}