.ufaqsw_floating-chat-button {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 80px;
	height: 80px;
	cursor: pointer;
	background-color: transparent;
	z-index: 9999;
}
.ufaqsw_floating-chat-button:hover,
.ufaqsw_floating-chat-button:active,
.ufaqsw_floating-chat-button:focus {
	background: transparent;
    box-shadow: none;
}