.ufaqsw_default_all_single_faq{
  width: 100%;
  margin-bottom: 20px;
}

.ufaqsw_default_all_faq_header{margin-bottom: 35px;position: relative;}
.ufaqsw_default_all_search_box{
  padding: 15px 5px !important;
  border-color: #050505 !important;
  width: 100%;
  border: 1px solid;
  text-align: left;
  box-sizing: border-box;
  border-radius: 5px;
}

.ufaqsw_default_all_search_box:focus-visible{
  outline: 0px;
}
.ufaqsw_default_all_search_box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align:center;
}

.ufaqsw_search_loading{display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 12px;
    font-size: 12px;}
.ufaqsw_search_no_result{
  text-align: center;
  display: none;
  margin-bottom: 20px;
}
.ufaqsw_search_no_result p{
  font-weight: bold;;
  margin: 0;
}

.ufaqsw_default_all_faq_container .filter-list__items{
  -moz-column-gap: .5rem;
  column-gap: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  row-gap: .5rem;
}

.ufaqsw_default_all_faq_container .filter-list__item{
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  cursor: pointer;
  padding: 11px;
  transition: .1s ease-in-out;
  font-size: 14px;
}

.ufaqsw_default_all_faq_container .filter-list__item:hover{
  border: 1px solid #222;
}


.ufaqsw_default_all_faq_container .filter-list--sticky{
  position: sticky;
  top: 3rem;
  z-index: 10;
}

.ufaqsw_default_all_faq_container .faq_navigation{
  margin: 20px 0 40px 0;
}

.ufaqsw_default_all_faq_container .filter-list--sticky:before {
  background: #fff;
  bottom: 0;
  content: "";
  left: 0;
  margin: -1rem;
  position: absolute;
  right: 0;
  top: 0;
}