.ufaqsw_default_all_single_faq{
  width: 100%;
  margin-bottom: 20px;
}

.ufaqsw_default_all_faq_header{margin-bottom: 35px;position: relative;}
.ufaqsw_default_all_search_box{
  padding: 15px 5px !important;
  border-color: #050505 !important;
  width: 100%;
  border: 1px solid;
  text-align: left;
  box-sizing: border-box;
  border-radius: 5px;
}

.ufaqsw_default_all_search_box:focus-visible{
  outline: 0px;
}
.ufaqsw_default_all_search_box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  text-align:center;
}

.ufaqsw_search_loading{display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 12px;
    font-size: 12px;}
.ufaqsw_search_no_result{
  text-align: center;
  display: none;
  margin-bottom: 20px;
}
.ufaqsw_search_no_result p{
  font-weight: bold;;
  margin: 0;
}
