.ufaqsw_container_default {
  width: 100%;
}
/* Styles for Accordion */
.ufaqsw_toggle_default .ufaqsw-toggle-title-area-default {
  position: relative;
  display: block;
  border-top: 1px solid #dddddd;
  margin: 0px;
  line-height: normal;
  cursor: pointer;
}

.ufaqsw_toggle_default .ufaqsw-toggle-title-area-default:focus {
  outline: none;
}

.ufaqsw_toggle_default .ufaqsw-toggle-title-area-default:focus-visible {
  outline: 1px solid #0073aa; /* WordPress blue */
}

.ufaqsw_toggle_default .ufaqsw-toggle-inner-default {
  padding: 5px 20px;
}

.ufaqsw_toggle_default .ufaqsw-toggle-inner-default * {
  max-width: 100%;
}

.ufaqsw_toggle_default .ufaqsw-toggle-inner-default img, .ufaqsw_toggle_default .ufaqsw-toggle-inner-default iframe {
  margin: 0 auto;
  display: block;
}

.ufaqsw_toggle_default .ufaqsw-toggle-title-area-default .ufaqsw-title-name-default {
	display: block;
  padding: 15px 10px;
}
.ufaqsw_toggle_default .ufaqsw-toggle-title-area-default a i {
  font-size: 22px;
  margin-right: 5px;
}

#ufaqsw_other_style{display:none;}
.ufaqsw-default-icon {
    float: right;
}
.ufaqsw_faq_title {
    margin-bottom: 20px;
}
