iframe{width:100%;height:auto;}
.ufaqsw_default_all_single_faq{display: inline-flex;margin-right:00px}
.ufaqsw_default_single_1{width: 100%;}
.ufaqsw_default_single_2{width: calc(50% - 25px);}
.ufaqsw_default_single_3{width: calc(33.33% - 33.3px);}

.ufaqsw_default_all_faq_header{margin-bottom: 25px;position: relative;}
.ufaqsw_default_all_search_box{
  padding: 15px 5px!important;
  border-color: #e8e8e8!important;
  width: 100%;
  border: 2px;
  text-align: left;
  font-size: 25px;
  box-sizing: border-box;
}
.ufaqsw_default_all_search_box::placeholder {
  color: #424242;
  text-align: left;
}
.ufaqsw_default_all_search_box:focus{
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
}
.ufaqsw_default_all_search_box:focus-visible{
  outline: 0px;
}
.ufaqsw_default_all_search_box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ceced0;
  opacity: 1; /* Firefox */
  text-align:center;
}

.ufaqsw_default_all_search_box:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ceced0;
  text-align:center;
}
.ufaqsw_default_all_search_box::-ms-input-placeholder { /* Microsoft Edge */
  color: #ceced0;
  text-align:center;
}
.ufaqsw_search_loading{display: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 12px;
    font-size: 12px;}
.ufaqsw_search_no_result{
  padding: 20px;
  text-align: center;
  background: #2e2e2e;
  border: 1px solid #e2aaaa;
  display: none;
  margin-bottom: 20px;
}
.ufaqsw_search_no_result p{
  color: #ffffff;
  margin: 0;
}
.ufaqsw_default_all_single_faq{-webkit-transition-timing-function: ease;}
@media only screen and (max-width: 768px) {
  .ufaqsw_default_single_2, .ufaqsw_default_single_3{width:100%;}
}