.ufaqsw_content_style1 {
  width: 100%;

}

.ufaqsw_centerplease_style1 {
  margin: 0 auto;
  max-width: 270px;
  font-size: 40px;
}

.ufaqsw_question_style1 {
  position: relative;

  margin: 0;
  padding: 10px 10px 10px 10px;
  display: block;
  width:100%;
  cursor: pointer;
}

.ufaqsw_answers_style1 {
  background: #f7f7f7;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}
.ufaqsw_title_area_style1{position:relative;  background: #eac8d3;}

.ufaqsw_title_area_style1:focus {
  outline: none;
}

.ufaqsw_title_area_style1:focus-visible {
  outline: 1px solid #0073aa; /* WordPress blue */
}

.ufaqsw_plus_style1 {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  top: 50%;
  transform: translateY(-50%);
}

.ufaqsw_questions_style1 {
  display: none !important;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.ufaqsw_content_style1{
	width:100%;
	padding:0;
}
}
.ufaqsw-style1-icon{float:left;margin-right: 8px;}
.ufaqsw-style1-active-icon{display:none}
.ufaqsw-style1-normal-icon{}
.ufaqsw_faq_title {
    margin-bottom: 20px;
}